
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Şifre Unuttum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Content/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/Content/web/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="icon" href="/Content/web/favicon.ico" type="image/x-icon">
    <link href="/Content/web/css/font-awesome.css" rel="stylesheet">
    <script src="/Content/web/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/web/js/modernizr.custom.js"></script>
    <link href='~/Content/web/google1.css' rel='stylesheet' type='text/css'>
    <link href='~/Content/web/google2.css' rel='stylesheet' type='text/css'>
    <script src="/Content/web/js/metisMenu.min.js"></script>
    <script src="/Content/web/js/custom.js"></script>
    <link href="~/Content/web/css/custom.css" rel="stylesheet">
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/angular-route.min.js"></script>
</head>
<body class="cbp-spmenu-push" ng-app="ForgotApp">
    <div class="main-content">
        <div class="sticky-header header-section ">
            <div class="header-left">
                <div class="logo">
                    <a href="#"><h1>Fikir Deposu</h1></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-right">
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div id="page-wrapper" ng-controller="forgotController">
            <div class="main-page">
                <div class="login-form">
                    <div class="alert alert-danger h4" ng-show="isEmailPasiveError">
                        Bu eposta kayıtlı.Aktif hale getirmek için mail adresinize gönderilen linke tıklayınız!
                    </div>
                    <div class="alert alert-danger h4" ng-show="isNotFoundEmail">
                        Kayıtlı E-Posta adresi bulunamadı!!
                    </div>
                    <div class="alert alert-success h4" ng-show="isEmailSendSuccess">
                        Şifre sıfırlama linki eposta adresinize gönderildi
                    </div> 
                    <h4>Şifre Sıfırla</h4>
                    <form ng-submit="resetPassword()">
                        <input type="email" class="form-control" placeholder="E-Posta" name="email" ng-model="forgotEmail" required/>
                        <input type="submit" class="pass btn btn-primary form-control" value="Gönder" />
                    </form>
                </div>
            </div>
        </div>
        <div class="copy-section">
            <p>&copy; 2019 Fikir Deposu. All rights reserved | Design by <a href="http://abdullahfurkankoc.com">Furkan KOÇ</a></p>
        </div>
    </div>
    <script src="/Content/web/js/classie.js"></script>
    <script type="text/javascript" src="/Content/web/js/bootstrap.min.js"></script>
    <script src="/Content/web/js/jquery.nicescroll.js"></script>
    <script src="/Content/web/js/scripts.js"></script>

    <script>
        var app = angular.module('ForgotApp', []);

        app.controller('forgotController', ['$scope', '$http', function ($scope, $http) {
            var rootRedirectUrl = 'http://localhost:44041';
            $scope.isEmailPasiveError = false;
            $scope.isEmailSendSuccess = false;
            $scope.isNotFoundEmail = false;

            $scope.resetPassword = function () {
                var data = { forgotEmail: $scope.forgotEmail};

                $http.post('/Account/UserResetPassword', data).then(successCallback, errorCallback);
                
                function successCallback(response) {
                    if (response.data == "success") {
                        $scope.isEmailSendSuccess = true;
                        $scope.isEmailPasiveError = false;
                        $scope.isNotFoundEmail = false;
                        console.log("Başarılı");
                    } else if (response.data == "activeFalse") {
                        $scope.isEmailPasiveError = true;
                        $scope.isEmailSendSuccess = false;
                        $scope.isNotFoundEmail = false;
                    } else {
                        $scope.isNotFoundEmail = true;
                        $scope.isEmailSendSuccess = false;
                        $scope.isEmailPasiveError = false;
                    }
                }
                function errorCallback(error) {
                    console.log(error + "Hata ");
                }
            }

        }])
    </script>




</body>
</html>

