@{
    ViewBag.Title = "Home";
}
        <div class="bottom-table"  ng-app="HomeApp" ng-controller="HomeController as home" ng-init="get()">
           <div class="alert alert-danger h4" ng-show="isCloseIdea">
               Fikir kapatma başarılı
           </div>
             <div class="bs-docs-example">
                <div style="text-align:center">
                    <div class="radio-inline"><label><input name="list" value="My" ng-click="myList('my')" type="radio"> Bana ait</label></div>
                    <div class="radio-inline"><label><input name="list" value="All" ng-click="myList('all')" type="radio" checked> Tüm Fikirler</label></div>
                </div>
                @*<table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fikir No</th>
                            <th>Fikir Adı</th>
                            <th>Fikir Tarih</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="idea in ideas">
                            <td scope="col">{{idea.number}}</td>
                            <td scope="col">{{idea.name}}</td>
                            <td scope="col">{{idea.ideaDate  | date:"dd/MM/yyyy '-' h:mma" }}</td>
                            <td scope="col">
                                <input type="button" ng-click="editIdea(idea)" value="Güncelle" class="btn btn-warning" />
                                <input type="button" ng-click="closeIdea(idea)" ng-show="idea.userID==loggedInUser.userID" value="Kapat" class="btn btn-danger" />
                            </td>
                        </tr>
                    </tbody>
                </table>*@
                
                <table ng-table="ideas" class="table table-condensed table-bordered">
                    <tr ng-repeat="row in $data">
                        <td align="center" data-title="'Fikir No'" sortable="'number'"><span >{{row.number}}</span></td>
                        <td align="center" data-title="'Fikir Adı'" sortable="'name'"><span>{{row.name}}</span></td>
                        <td align="center" data-title="'Fikir Tarih'"  sortable="'ideaDate'"><span>{{row.ideaDate | date:"dd/MM/yyyy '-' h:mma"}}</span></td>
                        <td align="center" data-title="'İşlemler'">
                            <button type="button" ng-click="editIdea(row)" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#updateModal"><i class="fa fa-edit"></i></button>
                            <a class="btn btn-danger"  ng-click="closeIdea(row)" ng-show="row.userID==loggedInUser.userID"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal fade" id="updateModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="alert alert-success h4" ng-show="isUpdateSuccess">
                            Fikir güncellemesi başarılı
                        </div>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{modal.number}}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <tr>
                                    <td>Fikir Adı:</td>
                                   <td><input type="text" ng-model="modal.name" class="form-control" ></td>
                                </tr>
                                <tr>
                                    <td>Açıklama:</td>
                                    <td><input type="text" ng-model="modal.description" class="form-control" /></td>
                                </tr>
                                <tr>
                                    <td>Durumu</td>
                                    <td>
                                        <div class="radio-inline"><label><input name="editStatu" value="public" ng-click="editStatu('public')" type="radio">Public</label></div>
                                        <div class="radio-inline"><label><input name="editStatu" value="private" ng-click="editStatu('private')" type="radio">Private</label></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Durumu:</td>
                                    <td><input type="text" class="form-control" ng-model="modal._event" ng-disabled="modal._event==='Kapatıldı'" /></td>
                                </tr>
                                <tr>
                                    <td>Fikir Numarası:</td>
                                    <td><input type="text" class="form-control" disabled ng-model="modal.number" /></td>
                                </tr>
                                <tr>
                                    <td>Fikir Açılış Tarihi:</td>
                                    <td><input type="text" class="form-control" disabled value="{{modal.ideaDate}}" /></td>
                                </tr>
                                <tr>
                                    <td>Fikir Oluşturan Adı:</td>
                                    <td><input type="text" class="form-control" disabled /></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button type="button" ng-click="updateIdea()" class="btn btn-primary">Güncelle</button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<script src="~/scripts/angular.min.js"></script>
<link href="~/Content/ng-table.min.css" rel="stylesheet">
<script src="~/Content/ng-table.min.js"></script>
<script>
    var app = angular.module('HomeApp', ["ngTable"]);

  

    app.controller('HomeController', ['$scope', '$http', 'NgTableParams', '$timeout', function ($scope, $http, NgTableParams, $timeout) {
        var rootRedirectUrl = 'http://localhost:44041';
        var ideas = [];
        $scope.isUpdateSuccess = false;
        $scope.isCloseIdea = false;
        var listElement = document.getElementsByName('list');
        if (listElement[0].checked)
            $scope.list = "my";
        else
            $scope.list = "all";

        
        $scope.get = function () {

            $http.get('/Account/GetLoggedInUser').then(successCallback, errorCallback);
            function successCallback(response) {
                if (response.status == 200) {
                    $scope.loggedInUser = response.data;

                    $http.post('/User/GetIdeas', $scope.loggedInUser).then(successCallback2, errorCallback2);
                    function successCallback2(response) {
                        ideas = response.data;
                        $scope.ideas = new NgTableParams({
                            sorting: { name: "asc" }
                        }, {
                            dataset: JSON.parse(ideas)
                        });
                    }
                    function errorCallback2(error) {
                        console.log(error + "Hata2");
                    }
                }
            }
            function errorCallback(error) {
                console.log(error + "Hata ");
            }

            
        }
        

        $scope.editIdea = function (idea) {
            $scope.isUpdateSuccess = false;
            $scope.modal = idea;
            if (idea.status == "public") {
                document.getElementsByName("editStatu")[0].checked = true;
            }
            else {
                document.getElementsByName("editStatu")[1].checked = true;
            }
        }
        $scope.myList = function (type) {
            var data = {type:type,user:$scope.loggedInUser };
            $http.post('/User/GetUserIdeas',data).then(successCallback, errorCallback);
            function successCallback(response) {
                ideas = response.data;
                $scope.ideas = new NgTableParams({
                    sorting: { name: "asc" }
                }, {
                    dataset: JSON.parse(ideas)
                });
            }
            function errorCallback(error) {
                console.log(error + "Hata ");
            }
        }
        $scope.updateIdea = function () {
            var data = { ideaID: $scope.modal.ideaID, name: $scope.modal.name, description: $scope.modal.description, status: $scope.modal.status, _event: $scope.modal._event }

            $http.post('/Idea/UpdateIdea', data).then(successCallback, errorCallback);

            function successCallback(response) {
                if (response.data == "success") {
                    $scope.isUpdateSuccess = true;
                }
            }
            function errorCallback(error) {
                console.log(error + "Hata3 ");
            }
        }

        $scope.editStatu=function(type){
          
            if (type=="public")
                $scope.modal.status = "public";
            else
                $scope.modal.status = "private";
        }
        $scope.closeIdea = function (idea) {
            var data = { ideaID: idea.ideaID };

            $http.post('/Idea/CloseIdea', data).then(successCallback, errorCallback);
            function successCallback(response) {
                $scope.isCloseIdea = true;
                $timeout(function () {
                    var redirectUrl = rootRedirectUrl + '/User/Home';
                    window.location.href = redirectUrl;
                }, 3000);
            }
            function errorCallback(error) {
                console.log(error + "Hata4 ");
            }
        }
    }])
</script>